* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./imagens/fundo_portfolio-1.jpg);
    background-repeat: no-repeat;
}

:root {
    --cor0: #ffe4ca;
    --cor1: #f5f5dc;
    --cor2: #0000ff;
    --cor3: #7edd7e;
    --cor4: #ff0000;
}

header {

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: solid 4px var(--cor3);
    margin: 1em;
    padding: 2em;
}

img {

    width: 10em;
    padding-right: 30px;
    background-color: var(--cor2);
}

h1 {
    color: var(--cor2);
  
    margin-left: 1em;
}

h2 {
    color: var(--cor3);
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

a {
    text-decoration: none;
    color: var(--cor3);
}

.sobre {
    margin: 100px;
    padding-bottom: 2em;
    line-height: 2em;
}

.skills {
    margin: 20px;
    padding-bottom: 2em;

}

.hobbies {
    margin: 20px;
    padding-bottom: 2em;

}

.formacao {
    margin: 20px;
    padding-bottom: 2em;

}

.projetos {
    margin: 20px;
    padding-bottom: 2em;

}

.contatos {
    margin: 20px;
    padding-bottom: 2em;

}

@media screen and(max-width:700px) {}